.a{
    width: 25%;
    height: 20vh;
    background:white;
    float:left;
    }


.x{
    font-weight: bold;
}
.y{
    text-align: left;
}
.p{
    width: 50%;
    height: 30vh;
    background:white;
    float:left;
}
.q{
    width: 50%;
    height: 30vh;
    background:white;
    float:right;
}

.font{
    color: red;
    font-size: 18px;
}
.font1{
    color:yellow;
}
